

@font-face {
    font-family: montserratBold;
    src: url(assets/fonts/Montserrat-Bold.ttf);
}

/* MAIN CODE */

main {
    box-shadow: 0 0 1px darkgray;
    background-color: whitesmoke;
}

html > body > header {
        background-image: url("assets/img/studentsbg.png");
        color: white; 
        background-attachment: absolute; 
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 103%;
        position: relative;
        top:0;
        min-height: 55vh;
        margin: 0;
        text-align: center;
        z-index: 100;
        margin-left: -0.5rem;
        margin-bottom: 4rem;
    
}

header div { 
    margin-top: 10rem;
    background-color: #c5192d;
        
 }  
 


body {
    background: linear-gradient(135deg,
    #f5f7fa 0%, #c3cfe2 100%);
    z-index: -10;

    font-family: "Lato", sans-serif;
    font-size: 14px;
    margin: 0;   
}

h1, h2, h3 {
    font-family: montserratBold, sans-serif;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 2,2rem;
}

div {
    font-size: 1,2rem;
    line-height: 1.5;
    max-width: 70ch;
}
article {
    max-width: 95vw;
    padding: 2rem;
    border-bottom: 0.1px solid gray; 
}
#intro-container {
    background-color: #c5192d;
    z-index: 10;
    
}
ul{
    list-style: none;
    padding: 0;
    margin: 0 0 3rem;
}
li:nth-child(1)::before{
    content: "\1F64C";
    width: 1rem;
    margin: 1rem 1rem 0;
}
li:nth-child(2)::before{
    content: "\1F3EB";
    width: 1rem;
    margin: 1rem 1rem 0;
}
li:nth-child(3)::before{
    content: "\1F4DA";
    width: 1rem;
    margin: 1rem 1rem 0;
}
article > img{
    max-width: 100%;
    object-fit: contain;
}
article:nth-child(3){
    transform: rotate(180deg);
}
article:nth-child(3) > div{
    transform: rotate(180deg);
}
article:nth-child(3) > img{
    transform: rotate(180deg);
}
/*
 600px < Screen < 960px Tablet
*/

@media screen and (min-width: 600px) {

    body {
        background: linear-gradient(135deg,
        rgb(240, 12, 12) 0%, rgba(13, 127, 241, 0.267) 100%); 
          /* 
        backgrunn fargen skal fjernes. Er bare for å vise hvilken screen
        vi er på
        */
        font-size: 16px;
    } 
    article{
        max-width: 85vw;
        float: left;
    }
   #intro-container > div:nth-child(1){
        display: inline-block;
        width: 45%;
   }
   #intro-container > div:nth-child(2){
       display: inline-block;
       width:55%;
   }
    

}
/*
960 < Screen Laptop
*/
@media screen and (min-width: 960px) {

    body {
        background: linear-gradient(135deg,
        rgb(12, 240, 126) 0%, rgba(13, 127, 241, 0.267) 100%);  
        /* 
        backgrunn fargen skal fjernes. Er bare for å vise hvilken screen
        vi er på
        */
        font-size: 24px;
    } 
    

}
