* {
    box-sizing:border-box;
}
@font-face {
    font-family: montserratBold;
    src: url(assets/fonts/Montserrat-Bold.ttf);
}
body {
    background: linear-gradient(135deg,
    #f5f7fa 0%, #c3cfe2 100%);
    z-index: -10;
    font-family: "Lato", sans-serif;
    font-size: 14px;  
    margin: 0;
}
h1, h2, h3 {
    font-family: montserratBold, sans-serif;
    max-width: 65ch;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 2.2rem;
}
div > p {
    font-size: 1.2rem;
    line-height: 1.5;
    max-width: 70ch;
}
/*-------------------------->HEADER<--------------------------*/
/* 
html > body > header {
        background-image: url("assets/img/studentsbg.png");
        color: white; 
        background-attachment: absolute; 
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 103%;
        position: relative;
        top:0;
        min-height: 55vh;
        margin: 0;
        text-align: center;
        z-index: 100;
        margin-left: -0.5rem;
        margin-bottom: 4rem;
*/

header {
    background-image: url("assets/img/studentsbg.png");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center top; 
    background-size: cover;
    min-height: 55vh;
}

header div { 

    margin-top: 10rem;
    margin-bottom: 2rem;
    margin:auto;
    padding: 2rem;
    /* dette er riktig, men ikke helt enda.
    position:absolute;
    top: 4rem;
    */
    left: 2.5%;
    background-color: #c5192d;
    width: 95%;
    color: white;
    text-align: center; 

 } 

/*------------------------->MAIN CONTENT<-----------------------*/
main {
    box-shadow: 0 0 1px 0 darkgray;
    background-color: whitesmoke;
    width: 95%;
    margin:auto;

}
article {
    max-width: 95vw;
    padding: 2rem;
    border-bottom: 0.1px solid gray; 
}
#intro-container {
    background-color: #c5192d;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0 0 3rem;
}
li:nth-child(1)::before{
    content: "\1F64C";
    width: 1rem;
    margin: 1rem 1rem 0;
}
li:nth-child(2)::before{
    content: "\1F3EB";
    width: 1rem;
    margin: 1rem 1rem 0;
}
li:nth-child(3)::before{
    content: "\1F4DA";
    width: 1rem;
    margin: 1rem 1rem 0;
}
article > img{
    max-width: 100%;
    object-fit: contain;
}
article:nth-child(3){
    transform: rotate(180deg);
}
article:nth-child(3) > div{
    transform: rotate(180deg);
}
article:nth-child(3) > img{
    transform: rotate(180deg);
}

/*---------------------------> FOOTER<------------------------*/
footer{
    background-color: #c5192d;
    padding: 2rem;
    width: 95%;
    color: white;
    text-align: center;
    margin-top: 2rem;
}
a {
    color: inherit;
    text-decoration: none;
}
/*
 600px < Screen < 960px 
 -------------------->Tablet<-----------------------
*/

@media screen and (min-width: 600px) {

    body {
        background: linear-gradient(135deg,
        rgb(240, 12, 12) 0%, rgba(13, 127, 241, 0.267) 100%); 
          /* 
        backgrunn fargen skal fjernes. Er bare for å vise hvilken screen
        vi er på
        */
        font-size: 16px;
    } 
    header {
        min-height: 65vh; 
    }
    main, footer, header div {
        width: 85%;
    }
    article{
        max-width: 85vw;
       /* float: left; */
    }
    #intro-container{
        background: linear-gradient(90deg, #c5192d 50%, transparent 0%);
    }
    article::after{
        display: table;
        clear: both;
     }
     article > div{
         float: left;
         width: 45%; 
         margin-right: 10%;
    }
    #intro-container > div:nth-child(2){
        float: right;
        width: 45%;
        margin: 0;
    }
    img:nth-child(1){
        float:left;
        width: 45%;
        margin-right: 0;
    }
    img{
        float: left;
        width: 45%;
    }
    img:nth-child(1){
        float:left;
        width: 45%;
        margin-right: 10%;
    }
    article:nth-child(3) > div{
        float: right;
        width: 45%;
        margin-right: 0;
    }
    article:nth-child(3){
        transform: initial;
    }
    article:nth-child(3) > div{
        transform:initial
    }
    article:nth-child(3) > img{
        transform: initial;
    } 
}
/*
960 < Screen Laptop
----------------------->Desktop<-----------------------
*/
@media screen and (min-width: 960px) {

    body {
        background: linear-gradient(135deg,
        rgb(12, 240, 126) 0%, rgba(13, 127, 241, 0.267) 100%);  
        /* 
        backgrunn fargen skal fjernes. Er bare for å vise hvilken screen
        vi er på
        */
        font-size: 24px;
    } 

    main, footer, header div {
        width: 70%;
    }

    #intro-container{
        background: linear-gradient(90deg, #c5192d 50%, transparent 0%);
    }

    article::after{
        display: table;
        clear: both;
    }
    article > div{
        float: left;
        width: 45%; 
        margin-right: 10%;
    }
    #intro-container > div:nth-child(2){
        float: right;
        width: 45%;
        margin: 0;
    }
    img:nth-child(1){
        float:left;
        width: 45%;
        margin-right: 0;
    }
    img{
        float: left;
        width: 45%;
    }
    img:nth-child(1){
        float:left;
        width: 45%;
        margin-right: 10%;
    }
    article:nth-child(3) > div{
        float: right;
        width: 45%;
        margin-right: 0;
    }
    article:nth-child(3){
        transform: initial;
    } 
    article:nth-child(3) > div{
        transform:initial
    }
    article:nth-child(3) > img{
        transform: initial;
    }

}
